* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #639;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.form-container {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  min-width: 400px;
  min-height: 300px;
  background-color: white;
  padding: 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.form--input {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}

.form--submit {
  width: 50%;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: none;   
  cursor: pointer; 
  font-size: 1em;
}
.form--submit:hover{
  filter: brightness(1.1);
}

.form--marketing {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.form--marketing label{
  color: gray;
}

.form--marketing > input {
  margin-right: 10px;
}
form input:focus{
  outline-color: #639;
}